<!-- <h1>{{pageTitle}}</h1> -->

<!-- <a [routerLink]="'recent'">Recent Books</a>

<button (click)="increase()">Counter ++</button>

<button (click)="decrease()">Counter --</button>

<P>Counter = {{_counterService.counter}}</P> -->

<button mat-raised-button color="primary" [routerLink]="'new'" >Add New Book</button>
<br/>
<br/>
<button mat-raised-button color="primary" [routerLink]="'new-reactive'" >Add New Book using Reactive Form</button>
<app-book-card [allBooks]="books"></app-book-card>



  